{% extends 'accounts/main.html' %}

{% block content %}
<div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center">Connection</h1>
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="username"
                    placeholder="Username" />

                <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4" name="password"
                    placeholder="Password" />

                <button type="submit"
                    class="w-full text-center py-3 rounded bg-blue-300 text-white hover:bg-green-dark focus:outline-none my-1">Je
                    me connecte</button>
            </form>
        </div>

        <div class="text-grey-dark mt-6">
            {{form.errors}}
            {% for message in messages %}
            <p id="messages">{{message}}</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
