{% load static %}
<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>My Driving School</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">

		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>

    {% include 'accounts/navbar.html' %}
	<body class="bg-grey-lightest font-serif leading-normal tracking-normal">

        {% block content %}


        {% endblock %}

    {% include 'accounts/footer.html' %}
	</body>

</html>